<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">
      <app-logo></app-logo>
    </a>

    <button class="header__btn" (click)="toggleMenu()">
      <svg viewBox="0 0 24 24" fill="none">
        <path
          d="M4 17H20M4 12H20M4 7H20"
          stroke="#fff"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>

    <nav class="header__nav gap-2">
      <a class="header__nav-item rounded-lg" routerLink="team">Equipo</a>
      <a class="header__nav-item rounded-lg" routerLink="matches">Partidos</a>
      <a class="header__nav-item rounded-lg" routerLink="news">Noticias</a>
      <a class="header__nav-item rounded-lg" routerLink="club">Club</a>
      <a class="header__nav-item rounded-lg" routerLink="contact">Contacto</a>
      <a class="header__nav-item rounded-lg" routerLink="/auth/login">Acceder</a>
      <a class="header__nav-item rounded-lg bg-amber-600" routerLink="/auth/register">Registrar</a>
      <button (click)="logout()" class="header__nav-item rounded-lg cursor-pointer bg-red-600 text-white">Cerrar sesión</button>
    </nav>
  </div>
</header>
