<header class="text-gray-700 body-font border-b border-gray-200">
  <div class="container mx-auto py-5 flex flex-wrap flex-col md:flex-row items-center justify-between">
    <a routerLink="/" class="flex items-center title-font font-medium text-gray-900 mb-4 md:mb-0">
      <img class="logo__image" ngSrc="assets/images/logo_los_toritos.svg" alt="logo_los_toritos.svg" width="50"
        height="50" />
      <div class="flex flex-col">
        <span class="ml-3 text-xl">LOS TORITOS</span>
        <span class="ml-3 text-xs">Pasión Naranja</span>
      </div>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="team">Equipo</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="matches">Partidos</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="news">Noticias</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="club">Club</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="contact">Contacto</a>
    </nav>
  </div>
</header>