<header class="text-gray-700 body-font border-b border-gray-200 sticky z-2">
  <div class="container mx-auto px-5 py-5 flex flex-wrap flex-col md:flex-row items-center justify-between">
    <a routerLink="/" class="flex items-center title-font font-medium text-gray-900 mb-4 md:mb-0">
      <img class="logo__image" ngSrc="assets/images/logo_los_toritos.svg" alt="logo_los_toritos.svg" width="50"
        height="50" />
      <div class="flex flex-col">
        <span class="ml-3 text-xl">LOS TORITOS</span>
        <span class="ml-3 text-xs">Pasión Naranja</span>
      </div>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="news">Noticias</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg dropdown inline-block relative cursor-pointer">
        Club
        <ul class="bg-background dropdown-menu absolute hidden rounded border py-4 text-gray-700 z-1">
          <li><a routerLink="club/foundation"
              class="rounded-t hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Fundación</a></li>
          <li><a routerLink="club/history"
              class="rounded hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Historia</a></li>
          <li><a routerLink="club/values" class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Valores</a></li>
          <li><a routerLink="club/palmares" class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Palmarés</a>
          </li>
          <li><a routerLink="club/sponsors"
              class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Patrocinadores</a></li>
          <li><a routerLink="club/penas" class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Peñas</a></li>
        </ul>
      </a>
      <a class="mr-5 hover:text-gray-900 rounded-lg dropdown inline-block relative cursor-pointer">
        Equipo
        <ul class="bg-background dropdown-menu absolute hidden rounded border py-4 text-gray-700 z-1">
          <li><a routerLink="team/players"
              class="rounded-t hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Jugadores</a></li>
          <li><a routerLink="team/results"
              class="rounded hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Resultados</a></li>
          <li><a routerLink="team/values" class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Clasificación</a>
          </li>
          <li><a routerLink="team/palmares" class="hover:bg-gray-200 py-2 px-4 block whitespace-nowrap">Calendario</a>
          </li>
        </ul>
      </a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="matches">Partidos</a>
      <a class="mr-5 hover:text-gray-900 rounded-lg" routerLink="contact">Contacto</a>
    </nav>
  </div>
</header>