header {
    background-color: #222;
    color: #f4f4f4;
    padding: 1rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }
}
