.header {
    background-color: #222;
    color: #f4f4f4;
    padding: 1.5rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
    }

    .header__logo {
        color: #f4f4f4;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
            color: #f4f4f4;
        }

        img {
            width: 2rem;
            height: 2rem;
        }

        span {
            font-size: 1.2rem;
        }

        small {
            display: none;
        }
    }

    .header__nav {
        display: none;
    }

    .header__btn__menu {
        background-color: transparent;
        border: none;
        color: #f4f4f4;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .header__svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media (width >= 48rem) {
        .header__nav {
            display: flex;
            gap: 1.5rem;
        }

        .header__btn__menu {
            display: none;
        }
    }
}


