footer {
    background-color: #111;
    color: #d4d4d4;
}

.social-media {
    background-color: #333;
    border-top: .25rem solid rgb(196, 135, 44);
    color: #d4d4d4;
    padding: 3rem 0;

    .container {
        display: grid;
        gap: 2.5rem;

        .social-network {
            display: grid;
            place-items: center;
            gap: 1rem;

            h3 {
                color: white;
            }

            ul {
                display: flex;
                gap: 1.5rem;

                li {
                    list-style: none;
                    font-size: 1.5rem;
                }
            }
        }

        .logo {
            display: grid;
            place-items: center;
            text-align: center;
            gap: 2rem;

            img {
                background-color: #222;
                box-shadow: 0px 0px 20px #000;
                border-radius: 50%;
                width: 4rem;
            }

            .brand-text {
                h3 {
                    font-weight: 900;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    background: linear-gradient(#eee, rgb(196, 135, 44));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                span {
                    color: #aaa;
                    letter-spacing: .05rem;
                    font-weight: 300;
                }
            }
        }
    }
}

.sub-footer {
    background-color: #222;
    color: #ddd;
    padding: 3rem 0;

    .navbar-footer {
        text-align: center;
        display: grid;
        grid-auto-flow: row;
        gap: 1.5rem;

        ul {
            h3 {
                color: white;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            li {
                padding: .25rem 0;
            }
        }
    }
}

.main-footer {
    .container {
        padding: 2rem 0;
        text-align: center;

        @media (width > 64rem) {
            text-align: start;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }

        .copyright {
            em {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 700;
                transition: all 0.25s ease-in-out;
                background: linear-gradient(#eee, #333);
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover {
                    color: #f90;
                }
            }
        }

        .developed-by {
            display: none;

            @media (width > 64rem) {
                display: block;
            }

            a {
                &:hover {
                    color: #f90;
                }

            }

            small {
                fa-icon {
                    color: red;
                }
            }
        }
    }
}
