<footer>
    <div class="sub-footer">
        <div class="container">
            <app-logo/>
            <nav class="navbar-footer">
                <ul>
                    <li><a href="">Aviso Legal</a></li>
                    <li><a href="">Privacidad</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="copyright">
                Página Oficial - <em>Real Cohólicos FC</em> &copy; 2024 Todos los derechos reservados.
            </div>
            <div class="developed-by">
                <small>Desarrollado por: <a href="http://untalsanders.github.io" target="_blank">UnTalSanders</a></small>
            </div>
        </div>
    </div>
</footer>
