footer {
    background-color: #111;
    color: #d4d4d4;
}

.main-footer {
    padding: 0.75rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .copyright {
        em {
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            transition: all 0.25s ease-in-out;
            background: linear-gradient(#eee, #333);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
                color: #f90;
            }
        }
    }

    .developed-by {
        a {
            &:hover {
                color: #f90;
            }
        }
    }
}

.social-media {
    background-color: #333;
    border-top: 5px solid rgb(196, 135, 44);
    color: #d4d4d4;
    padding: 2rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        flex-grow: 1;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        .brand-text {
            display: flex;
            flex-direction: column;

            span {
                font-weight: 900;
                font-size: 1.5rem;
                text-transform: uppercase;
                background: linear-gradient(#eee, rgb(196, 135, 44));
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            small {
                color: #aaa;
                letter-spacing: 0.075rem;
                font-weight: 200;
            }
        }
    }

    .social-network {
        ul {
            width: min-content;
            padding: 0;
            display: flex;
            gap: 1rem;

            li {
                list-style: none;
                font-size: 2.5rem;
            }
        }
    }
}

.sub-footer {
    background-color: #222;
    color: #ccc;
    padding: 2rem 0;

    .navbar-footer {
        ul {
            padding: 0;

            li {
                list-style: none;
            }
        }
    }
}
