<picture>
    <img src="/assets/phone.svg" width="60" alt="phone.svg" />
</picture>
<section>
    <header>
        <h2>La Aplicación Oficial de RCFC</h2>
        <span>Descarga nuestras apps y mantente al día</span>
    </header>
    <div class="stores">
        <a href="#">
            <img src="/assets/google-play.svg" width="100" alt="google-play-badge" />
        </a>
        <a href="#">
            <img src="/assets/app-store.svg" width="100" alt="app-store-badge" />
        </a>
    </div>
</section>
