<div class="container">
    <h1>Socios</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati maiores corrupti blanditiis voluptas
        aperiam similique perferendis accusantium, magni voluptatum at nulla ipsam explicabo molestias quis sit
        atque qui rerum exercitationem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at exercitationem sunt soluta consectetur
        nisi nemo sed nam quos eaque eligendi, voluptatibus ipsa non dolorem nostrum vel ducimus iste dolore.
    </p>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sapiente qui nostrum molestias dolorum
        libero expedita nihil consequuntur, odit earum mollitia rerum corporis totam officia beatae? Minus modi quo
        quisquam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque et maiores consectetur repudiandae laborum
        saepe mollitia iusto dolorem necessitatibus, a dolorum exercitationem facere hic atque natus ipsa cum. Sit,
        sed!
    </p>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore nobis nihil ullam, autem placeat commodi
        sapiente tenetur ipsam vero eius iusto esse atque quaerat minus totam, possimus accusamus excepturi unde.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus laudantium veritatis nostrum. Minus
        laboriosam ad fugiat at reiciendis consequatur corporis fuga illum assumenda atque. Hic sapiente reiciendis
        veritatis commodi beatae.
    </p>
</div>