<!-- <div class="h-dvh grid grid-rows-[min-content_auto_min-content] grid-cols-[w-80_auto]"> -->

<!-- Navbar -->
<app-dashboard-navbar></app-dashboard-navbar>
<!-- End of the Navbar -->

<!-- Sidebar -->
<aside class="border-r row-start-1 row-end-4 col-start-1 col-end-2">
  <app-dashboard-sidebar></app-dashboard-sidebar>
</aside>
<!-- End of the Sidebar -->

<!-- Main Content -->
<main id="main-content" class="col-start-2 col-end-2 grid place-items-center">
  Content Admin dashboard
</main>
<!-- End of the Main Content -->

<!-- Footer -->
<app-dashboard-footer></app-dashboard-footer>
<!-- End of the Footer -->

<!-- </div> -->