<!-- <div class="h-dvh grid grid-rows-[min-content_auto_min-content] grid-cols-[w-80_auto]"> -->

<!-- Navbar -->
<app-dashboard-navbar></app-dashboard-navbar>
<!-- End of the Navbar -->

<!-- Sidebar -->
<aside class="border-r row-start-1 row-end-4 col-start-1 col-end-2">
  <!-- Logo -->
  <div class="flex items-center h-[3.125rem] border-b px-5">
    <a routerLink="/dashboard" class="inline-flex items-center title-font font-medium text-gray-900 cursor-pointer">
      <img class="h-7.5 w-7.5" ngSrc="assets/images/logo_los_toritos.svg" alt="logo_los_toritos.svg" width="40"
        height="40" />
      <span class="ml-3 text-xl">LOS TORITOS</span>
    </a>
  </div>
  <div class="flex flex-col px-5">
    <h2>Dashboard</h2>
    <ul>
      <li>item-1</li>
      <li>item-2</li>
      <li>item-3</li>
      <li>item-4</li>
      <li>item-5</li>
      <li>item-6</li>
    </ul>
  </div>
</aside>
<!-- End of the Sidebar -->

<!-- Main Content -->
<main id="main-content" class="col-start-2 col-end-2 grid place-items-center">
  Content Admin dashboard
</main>
<!-- End of the Main Content -->

<!-- Footer -->
<app-dashboard-footer></app-dashboard-footer>
<!-- End of the Footer -->

<!-- </div> -->