<nav>
    <ul>
        <li>
            <a href="#1">Club</a>
            <ul>
                <li><a href="#1">Actualidad</a></li>
                <li><a href="#1">Historia</a></li>
                <li><a href="#2">Misión y Visión</a></li>
                <li><a href="#3">Himno</a></li>
                <li><a href="#3">Código de Ética</a></li>
                <li><a href="#4">Patrocinadores</a></li>
            </ul>
        </li>
        <li>
            <a href="#2">Equipo</a>
            <ul>
                <li><a href="#1">Actualidad</a></li>
                <li><a href="#1">Plantilla</a></li>
                <li><a href="#2">Calendario</a></li>
                <li><a href="#3">Clasificación</a></li>
                <li><a href="#3">Palmarés</a></li>
                <li><a href="#4">Fotos</a></li>
            </ul>
        </li>
        <li><a href="#3">Socios</a></li>
        <li><a href="#5">Contacto</a></li>
    </ul>
</nav>
