<nav>
    <ul>
        <li>
            <a routerLink="">Inicio</a>
        </li>
        <li>
            <a routerLink="club">Club</a>
            <ul>
                <li><a href="#">Actualidad</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Misión y Visión</a></li>
                <li><a href="#">Himno</a></li>
                <li><a href="#">Código de Ética</a></li>
                <li><a href="#">Patrocinadores</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="equipo">Equipo</a>
            <ul>
                <li><a href="#1">Actualidad</a></li>
                <li><a href="#1">Plantilla</a></li>
                <li><a href="#2">Calendario</a></li>
                <li><a href="#3">Clasificación</a></li>
                <li><a href="#3">Palmarés</a></li>
                <li><a href="#4">Fotos</a></li>
            </ul>
        </li>
        <li><a routerLink="socios">Socios</a></li>
        <li><a routerLink="contact">Contacto</a></li>
    </ul>
</nav>
