<div class="container mx-auto">
  <div>
    <img ngSrc="assets/images/logo_los_toritos.svg" alt="logo_los_toritos.svg" width="50" height="50" />
  </div>
  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/lostoritosnet">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/lostoritosnet">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://x.com/lostoritosnet">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </li>
  </ul>
</div>