.contact__hero {
    background-image: url('/assets/images/contact-us-hero-desktop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: min(40vh, 30vh);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2vw, 2vw);

    & h2 {
        text-shadow: 4px 4px 10px #8d8d8d;
        width: clamp(calc(20rem - 2.5rem), 80vw, 90vw);
    }
}

.contact__wrapper {
    & .container {
        display: grid;
        gap: 2rem;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));

        & > * {
            padding: 3rem 0;

            @media (width < 840px) {
                padding: 2rem 0;
            }
        }

        & .contact__info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & h2 {
                font-size: clamp(1rem, 2vw, 2vw);
            }

            & p {
                font-weight: 300;
            }

            & ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    font-weight: 600;
                }
            }
        }

        & .contact__form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input, textarea, button {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: .75rem;
            }

            button[type=submit] {
                background-color: rgb(200, 16, 46);
                font-weight: bold;
                color: white;
                border-radius: 1rem;
                border: none;

                &:hover {
                    background-color: rgba(200, 16, 46, 0.9);
                    cursor: pointer;
                }
            }
        }
    }
}