<section class="container mx-auto px-5 flex flex-col pt-16 gap-8 text-center">
  <div class="flex flex-col">
    <span class="text-neutral-400 text-sm">Descarga ahora</span>
    <span class="text-2xl">Los Toritos App</span>
  </div>
  <ul class="flex flex-wrap justify-center gap-4">
    <li>
      <a href="#">
        <img src="assets/illustrations/google-play.svg" alt="google-play-badge" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/illustrations/app-store.svg" alt="app-store-badge" />
      </a>
    </li>
  </ul>
</section>