<div class="flex flex-col">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="assets/images/logo_los_toritos.svg" alt="Logo Los Toritos" class="mx-auto h-10 w-auto dark:hidden" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">Crea tu cuenta</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="space-y-6">
      <div>
        <label for="email" class="">Correo electrónico:</label>
        <div class="mt-2">
          <input id="email" type="email" formControlName="email"
            class="block w-full rounded-md px-3 py-1.5 outline-1 outline-gray-300 focus:outline-1 focus:-outline-offset-1 focus:outline-amber-600" />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="">Contraseña:</label>
        </div>
        <div class="mt-2">
          <input id="password" type="password" formControlName="password"
            class="block w-full rounded-md px-3 py-1.5 outline-1 outline-gray-300 focus:outline-1 focus:-outline-offset-1 focus:outline-amber-600" />
        </div>
      </div>

      <div>
        <button type="submit"
          class="w-full rounded-md bg-amber-600 text-sm/6 font-semibold text-white cursor-pointer focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-amber-600">Crear
          cuenta</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500 dark:text-gray-400">
      ¿Ya tienes cuenta?
      <a routerLink="/auth/login" class="font-semibold cursor-pointer">Iniciar sesión</a>
    </p>
  </div>
</div>