<footer class="footer">
  <!-- <div class="social-media">
        <div class="container">
            <div class="logo">
                <img src="assets/images/logo_los_toritos.svg" alt="logo.svg">
                <div class="brand-text">
                    <h3>Los Toritos</h3>
                    <span>Pasión naranja desde 2007</span>
                </div>
            </div>
            <app-mobile-apps></app-mobile-apps>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <app-social-networks></app-social-networks>
            <app-navbar></app-navbar>
        </div>
    </div> -->
  <div class="footer-one">
    <div class="container footer-one__container">
      <p class="copyright">LOS TORITOS &copy; {{ currentDate }} Todos los derechos reservados.</p>
      <nav class="footer-links">
        <a class="footer-links__item" routerLink="legal-notice">Aviso Legal</a>
        <a class="footer-links__item" routerLink="">Política de Privacidad</a>
        <a class="footer-links__item" routerLink="">Política de Cookies</a>
      </nav>
    </div>
  </div>
</footer>
