<div class="container">
    <h1>Aviso Legal</h1>

    <h3>Información del Club</h3>
    <p>Nombre del Club: Los Toritos</p>
    <p>Dirección: Calle Deporte 123, 12345 Ciudad</p>
    <p>Teléfono: 123 456 789</p>
    <p>Correo electrónico: info@lostoritos.com</p>

    <h3>Condiciones de Uso</h3>
    <p>El acceso y uso de este sitio web implica la aceptación plena y sin reservas de las presentes Condiciones de Uso.
    </p>
    <p>El usuario se compromete a hacer un uso correcto y lícito del sitio web de acuerdo con la legislación vigente, la
        moral y las buenas costumbres.</p>

    <h3>Propiedad Intelectual</h3>
    <p>Todos los contenidos, marcas, logos, diseños, información y material gráfico de este sitio web son propiedad
        exclusiva del Club Deportivo Fútbol o de sus licenciantes y están protegidos por las leyes de propiedad
        intelectual.</p>

    <h3>Política de Privacidad</h3>
    <p>Los Toritos se compromete a respetar la privacidad de los usuarios y a cumplir con la normativa
        vigente en materia de protección de datos personales. Puede consultar nuestra Política de Privacidad para más
        información.</p>

    <h3>Exención de Responsabilidad</h3>
    <p>Los Toritos no se hace responsable de los daños y perjuicios que puedan derivarse del uso de este
        sitio web o de la información contenida en él. Tampoco se hace responsable de los virus u otros elementos
        dañinos que puedan afectar al equipo informático del usuario.</p>

    <h3>Legislación y Jurisdicción</h3>
    <p>Estas Condiciones de Uso se rigen por la legislación española. Cualquier conflicto o disputa que surja en
        relación con este sitio web será resuelto por los tribunales competentes.</p>
</div>