<div class="hero">
    <h2 class="title">Aviso Legal</h2>
</div>

<div class="container py-3">
    <h2>1- Información General</h2>
    <p>El presente Sitio Web, es titularidad de {{clubName()}}, con domicilio en Calle Deporte 123, 12345 Buenos Aires;
        AFIP. nº G-01928374 inscrito en el Registro de Asociaciones Deportivas con el nº CD0000423 con nº de teléfono 11
        1234-5678 y dirección de e-mail contacto@lostoritos.net.</p>
    <p>El presente aviso legal se aplica igualmente a cualesquier otra página web titularidad de {{clubName()}},
        cualesquier subdominio, microsite y/o subapartado contenidos en este o aquellos sitios web, siempre que sean
        propiedad exclusiva de {{clubName()}}.</p>
    <p>Al usar este sitio web, así como cualquier otro dominio o contenido propiedad exclusiva de {{clubName()}}, se
        entenderá que usted ha leído, entendido y aceptado, sin limitación ni reserva alguna, las condiciones de uso
        recogidas en este Aviso Legal, así como la Política de Privacidad que está a su disposición en este mismo sitio
        web.</p>
    <p>Este consentimiento se entenderá, sin perjuicio, de las condiciones o términos de uso específicos que pudieran
        aplicarse respecto algunos servicios concretos del sitio web, cuya aceptación previa, será requisito
        indispensable para acceder a dichos servicios.</p>
    <p>{{clubName()}} se reserva el derecho de modificar los términos y condiciones que aparecen en este sitio web, así
        como ampliar contenidos, informaciones, etc., en cualquier momento y sin previo aviso y, por tanto, aconseja su
        consulta con una periodicidad razonable por si se producen cambios en los mismos.</p>
    <p>Si no está conforme con los términos de este Aviso Legal, rogamos no haga uso del sitio web, porque el uso de
        este, reiteramos, implicará la aceptación de los términos legales recogidos tanto en el Aviso Legal como en la
        Política de Privacidad.</p>

    <h2>2- Idioma</h2>
    <p>En caso de que traduzcamos este Aviso Legal, nuestra Política de privacidad, o cualesquiera otra información
        legal que pudieran publicarse en este sitio web, si existe discrepancia entre la versión en español y una
        versión traducida, prevalecerá la versión en español.</p>

    <h2>3- Derechos de Propiedad Intelectual</h2>
    <strong>a) En cuanto al contenido generado por {{clubName()}}:</strong>
    <p>El titular del contenido y de los elementos que conforman el presente Sitio Web es {{clubName()}},
        perteneciéndole en consecuencia la propiedad intelectual del mismo y en particular todos los códigos fuente,
        textos, imágenes, diseño, logos, programas informáticos, animaciones, bases de datos, marcas, nombre comercial o
        signo distintivo, sonidos y demás elementos gráficos o sonoros de las páginas del Sitio Web. Esta enumeración no
        constituye un listado cerrado sino ejemplificativo y dichos elementos se encuentran debidamente protegidos de
        conformidad con la normativa española e internacional sobre Propiedad Intelectual e Industrial.</p>
    <p>La persona usuaria se obliga a usar los contenidos de forma diligente y correcta, de acuerdo con la ley, la moral
        y el orden público. {{clubName()}} autoriza a los/las usuarios para visualizar la información que se contiene en
        este sitio web, así como para efectuar reproducciones privadas (simple actividad de descarga y almacenamiento en
        sus sistemas informáticos), siempre y cuando los elementos sean destinados únicamente al uso personal. También
        se autoriza su utilización exclusivamente con fines periodísticos, siempre que, en ambos casos, se respete la
        integridad de este y se identifique que la fuente originaria ha sido el presente Sitio Web perteneciente a
        {{clubName()}}.</p>
    <p>Se prohíbe, fuera de las finalidades establecidas expresamente en el párrafo anterior, la utilización del
        contenido del Sitio Web, quedando prohibido de manera expresa cualquier tipo de utilización sesgada y contraria
        a su naturaleza. Se prohíbe su distribución, modificación, cesión a terceros, así como la reproducción,
        transformación o comunicación pública, mediante cualquier medio y tecnología. Pueden requerir para ello el
        consentimiento previo y expreso de {{clubName()}}, constituyendo cualquier actuación contraria al presente texto
        una vulneración de la normativa en materia de derechos de propiedad industrial e intelectual.</p>

    <p>{{clubName()}} se reserva el ejercicio de las acciones legales oportunas en defensa de sus derechos.</p>

    <strong>b) En cuanto a contenidos generados por los usuarios:</strong>
    <p>Si para participar en nuestra web, en algún evento, actividad, promoción o concurso organizado por {{clubName()}}
        nos mandas cualquier tipo de contenido audiovisual (video, fotografías, contenido de texto …) protegible ten en
        cuenta que:</p>

    <ul>
        <li>Cualquier información u opinión literaria, artística, científica, técnica o de cualquier otro tipo,
            difundida a través de artículos, dibujos videos, fotografías o cualquier otro contenido de texto o
            audiovisual en cualquier medio o soporte <strong>es protegible por derechos de propiedad
                intelectual</strong>.</li>
        <li><strong>La remisión de dicho contenido supone que cuentas con la autorización del remitente para su
                utilización</strong> por
            nuestra parte en este sitio web o en nuestros perfiles de redes sociales. <strong>La titularidad de los
                derechos de
                autor sobre dichos contenidos corresponde a su autor</strong>, quien garantiza la misma.</li>
        <li>No obstante, el hecho de remitirnos o publicar los contenidos en este sitio web o en nuestras redes
            sociales, supone la cesión de los derechos de reproducción y comunicación pública sobre los mismos,
            conservando el autor su derecho a explotarlos en cualquier forma que no perjudique la normal de la
            publicación por nuestra parte en los medios antes citados. <strong>Por tanto, el remitente nos cede de forma
                no
                exclusiva</strong>, a título gratuito por duración ilimitada y con ámbito mundial, <strong>el derecho,
                sublicenciable, a la
                reproducción</strong>, distribución, traducción, publicación y divulgación total o parcial de dichos
            contenidos en
            cualquier medio conocido actualmente o desarrollado en el futuro, para cualquier fin. Podremos usar ese
            contenido para informar sobre el evento/actividad, documentarlo, formar parte de la memoria audiovisual de
            éste, incluyendo su utilización en folletos publicitarios, posters, papelería y cartelería promocional, etc.
        </li>
        <li><strong>El remitente garantiza su titularidad</strong> o que tiene, estando en condiciones de acreditarlo,
            todos los
            derechos, capacidad y/o permisos, autorizaciones y consentimientos necesarios para usar y licenciar dichos
            contenidos y que no infringen ningún derecho de terceros, incluyendo derechos a la protección de datos
            personales, así como cualquier derecho de propiedad intelectual. <strong>El remitente será el único
                responsable por
                cualesquiera reclamaciones de terceros, incluida la Administración Pública</strong>, sobre dichos
            contenidos, así
            como de los daños y perjuicios que se nos puedan reclamar, facultándonos para el ejercicio de las acciones
            que la Ley otorga para la defensa de nuestros derechos de forma que cualquier responsabilidad a la que
            tuviésemos que hacer frente, incluso económica, será repercutida por nuestra parte al remitente.</li>
    </ul>

    <h2>4- Seguridad</h2>
    <p>En este sitio web utilizamos el protocolo HTTPS (SSL) para establecer un canal seguro de comunicación entre el
        servidor y el usuario para el envío de sus datos personales. Prestar ese servicio a través de un servidor seguro
        supone garantizar la confidencialidad de la información que se intercambia entre el ordenador del usuario y
        dicho servidor, ya que entre ambos se establece una conexión cifrada, utilizando el protocolo SSL, que
        imposibilita el acceso de terceros a la información enviada.</p>

    <h2>5- Publicidad</h2>
    <p>El Sitio web así como cualesquiera subdominios, microsites y/o subapartados contenidos en este, propiedad de
        {{clubName()}} puede albergar contenidos publicitarios o estar patrocinado. Los anunciantes y patrocinadores son
        los únicos responsables de asegurarse que el material remitido para su inclusión en el Sitio web cumple con las
        leyes y consentimientos que en cada caso puedan ser de aplicación. El titular del sitio no será responsable de
        cualquier error, inexactitud o irregularidad que puedan contener los contenidos publicitarios o de los
        patrocinadores, ni de daños a la sensibilidad que pueda causar.</p>

    <h2>6- Comunicaciones comerciales y contenidos publicitarios</h2>
    <p>{{clubName()}} informa a los usuarios/as de este sitio web que, en el caso de tener una relación contractual
        previa, les remitiremos información sobre nuestras actividades, productos y/o servicios (incluso mediante
        comunicaciones electrónicas) basándonos en nuestro interés legítimo. Si no desea que le remitamos ese tipo de
        información remítanos por favor un e-mail en tal sentido a info@lostoritos.net , y así lo haremos.</p>
    <p>La retirada de su consentimiento para el envío de este tipo de comunicaciones no condiciona el tratamiento de sus
        datos para el resto de finalidades descritas en la política de privacidad. Si Ud. no es cliente, solo mandaremos
        ese tipo de comunicaciones publicitarias y/o comerciales por medios electrónicos, si nos lo autoriza clicando la
        opción que expresamente se incluye al efecto en nuestra página web.</p>

    <h2>7- Contraseñas y zona privada</h2>
    <p>En los supuestos en que proceda a remitírsele identificador y/o contraseña de acceso a determinados servicios,
        zona privada, intranet, etc…, la persona usuaria deberá mantenerlos bajo su exclusiva responsabilidad en la más
        estricta y absoluta confidencialidad y secreto. Deberá proceder a su custodia, uso y preservación de manera
        diligente, prohibiéndose de manera expresa su cesión a terceros. Resultando responsabilidad del usuario, y por
        lo tanto a él imputables, las consecuencias perjudiciales que pudieran originarse tanto para el titular del
        Sitio Web como para el resto de internautas. En caso de robo, pérdida o uso/acceso no autorizado del
        identificador y/o contraseña, la persona afectada deberá comunicarlo de forma inmediata a {{clubName()}} para la
        adopción de las medidas oportunas, siendo responsabilidad de ésta los daños que se pudieran irrogar tanto a
        {{clubName()}} como a otras personas, como consecuencia de una tardía comunicación.</p>
    <p>{{clubName()}} no será responsable en ningún caso de las incidencias que puedan surgir en torno a los datos
        personales cuando se deriven bien de un ataque o acceso no autorizado a los sistemas de tal forma que sea
        imposible de detectar por las medidas de seguridad implantadas, o bien cuando se deba a una falta de diligencia
        del usuario registrado en cuanto a la guardia y custodia de sus claves de acceso o de sus propios datos
        personales.</p>
    <p>Para acceder a la zona privada de este sitio web es necesario haberse registrado, para lo que se te solicitará
        información básica y necesaria para crear tu perfil en la zona privada. Una vez hayas completado el formulario
        de registro, podremos verificar tu identidad para activar tu perfil.</p>
    <h2>9- Redes sociales</h2>
    <p>Nuestros sitios web y aplicaciones móviles disponen de conectores a varias redes sociales. Cuando el usuario
        elige interactuar con una red social, su actividad en nuestros sitios web o a través de nuestras aplicaciones
        móviles también será puesta a disposición de la red social con la que interactúe. Se pueden recabar datos a
        través de cookies para permitir el correcto funcionamiento, como puede ser su dirección IP o que página está
        visitando en nuestros sitios web.</p>
    <p>Si la persona usuaria inicia sesión en una de estas redes sociales durante su visita a uno de nuestros sitios web
        o aplicaciones móviles, la red social podrá añadir esa información a su perfil y esa información será
        transferida a la red social. Si no quieres que se realice esa trasferencia de datos, sal de tu sesión en la red
        social antes de entrar en nuestro sitio web, ya que no está en nuestra mano influir en esta recogida y
        trasferencia de datos a través de los conectores sociales.</p>
    <p>Las Redes Sociales no están alojadas directamente en nuestros Servicios. Las interacciones de las personas
        usuarias con ellas se rigen por sus políticas y no por las nuestras. Recomendamos que leas las Políticas de
        Privacidad de esas redes sociales para informarte detalladamente sobre la recogida y transferencia de tus datos
        personales, tus derechos y sobre la configuración de tu privacidad.</p>


    <h2>8- Legislación y Jurisdicción</h2>
    <p>Estas Condiciones de Uso se rigen por la legislación Argentina. Cualquier conflicto o disputa que surja en
        relación con este sitio web será resuelto por los tribunales competentes.</p>

    <p>Última actualización: Julio de 2025</p>
</div>