<section class="pt-5 mt-12 border-t border-gray-800">
  <div class="container mx-auto flex flex-col items-center gap-4 lg:flex-row-reverse lg:justify-between">
    <nav class="px-5 py-8 lg:py-0 text-sm text-gray-400 flex flex-col sm:flex-row sm:gap-4 lg:gap-1 xl:gap-4 items-center">
      <a routerLink="legal-notice" class="inline-block text-amber-600 transition hover:text-amber-600/75">
        Aviso Legal
      </a>
      <span>&middot;</span>
      <a routerLink="private-policy" class="inline-block text-amber-600 transition hover:text-amber-600/75">
        Política de Privacidad
      </a>
      <span>&middot;</span>
      <a routerLink="cookies-policy" class="inline-block text-amber-600 transition hover:text-amber-600/75">
        Política de Cookies
      </a>
      <span>&middot;</span>
      <a routerLink="/" class="inline-block text-amber-600 transition hover:text-amber-600/75">
        lostoritos.net
      </a>
    </nav>
    <p class="px-5 mt-4 text-sm text-gray-500 text-center md:text-start sm:mt-0">
      LOS TORITOS &copy; {{ currentDate }} Todos los derechos reservados. —
      <a href="https://linkedin.com/in/untalsanders" class="text-amber-600 hover:text-amber-600/75 ml-1" target="_blank"
        rel="noopener noreferrer">
        @untalsanders
      </a>
    </p>
  </div>
</section>

<!-- flex flex-wrap flex-col md:flex-row items-center md:justify-center lg:justify-between gap-4 -->