<footer class="px-5 flex w-full items-center justify-between font-medium border-t col-2 py-4 text-[.75rem] text-gray-500">
  <div>
    &copy; {{year}} LOS TORITOS
  </div>
  <ul class="flex">
    <li class="hover:text-primary"><a routerLink="/legal-notice" class="px-2 cursor-pointer">Aviso Legal</a></li>
    <li class="hover:text-primary"><a routerLink="/privacy-policy" class="px-2 cursor-pointer">Políticas de Privacidad</a></li>
    <li class="hover:text-primary"><a routerLink="/cookies-policy" class="px-2 cursor-pointer">Políticas de Cookies</a></li>
  </ul>
</footer>