@import 'assets/fonts.css';

:root {
    font-family: Poppins, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    box-sizing: inherit;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', system-ui, sans-serif;
    font-size: 1rem;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

ul {
    padding: 0;
}

.container {
    max-width: clamp(calc(20rem - 2.5rem), 80vw, 95vw);
    margin-left: auto;
    margin-right: auto;
}
